.section {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 40px;
  display: flex;
  
}

.form-message {
  width: 300px;
  margin: 0 auto;
}
.section-img {
  position: absolute;
  padding-top: 45px;
  padding-left: 450px;
}

